/** @format */

.person_div {
	width: calc(50% - 10px);
	height: 50px;
	composes: row from "@styl/base_flexbox.module.css";
	border-radius: 5px;
	background-color: black;
}
.avatar_div {
	position: relative;
	height: 40px;
	width: 40px;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.right_div {
	position: relative;
	height: 100%;
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.right_top {
	width: 100%;
	composes: row from "@styl/base_flexbox.module.css";
	font-size: 16px;
	margin-bottom: 10px;
	padding-left: 2.5px;
}
.right_bottom {
	color: var(--primary-main);
	font-weight: bold;
	width: 100%;
	composes: row from "@styl/base_flexbox.module.css";
	position: absolute;
	bottom: 2.5px;
	font-size: 13px;
	margin-top: 10px;
	padding-left: 2.5px;
}
