/** @format */
.main_div {
	width: 100vw;
	height: 100vh;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.paper_container {
	width: 30%;
	height: 80%;
	min-height: 590px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.pic_row {
	width: 100%;
	height: 150px;
	composes: row from "@styl/base_flexbox.module.css";
}
.pic_div {
	margin-left: 20px;
	margin-right: -20px;
	height: 150px;
	width: 150px;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.pic_row_right_not_selected {
	width: 100%;
	height: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.pic_row_right {
	width: calc(100% - 150px);
	height: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
	margin-left: -50px;
}
.pic_edit_wrap {
	composes: column from "@styl/base_flexbox.module.css";
	width: 100%;
	max-width: 100%;
	max-height: calc(100% - 75px);
	flex: 1;
}
.pic_edit_wrap_selected {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3000;
	padding-bottom: 70px;
	background-color: #1e262bff;
	composes: column from "@styl/base_flexbox.module.css";
}
.tagline_div {
	margin-top: 10px;
	width: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
	height: 100px;
}
.bottom_buttons {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 90%;
	composes: row_between from "@styl/base_flexbox.module.css";
}
.divider_div {
	width: 100%;
	composes: column from "@styl/base_flexbox.module.css";
	height: 2px;
}
.bottom_div {
	width: 100%;
	position: absolute;
	composes: column from "@styl/base_flexbox.module.css";
	bottom: 0;
	left: 0;
	right: 0;
}
.tagline_text {
	margin-bottom: -10px;
	width: 100%;
	font-size: 20px;
	width: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.tagline_error {
	width: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
	color: #ff0000ff;
	font-size: 12px;
}
