/** @format */

.main_div {
	composes: column from "@styl/base_flexbox.module.css";
	width: 100%;
	height: 100%;
	max-height: 100%;
	max-width: 100%;
}
.pick_new_div {
	width: 100%;
	height: 10%;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.ReactCrop_div {
	composes: column_center from "@styl/base_flexbox.module.css";
	max-width: 100%;
	max-height: 70%;
	width: 100%;
	height: 70%;
	position: relative;
	background-color: rgba(225, 225, 225, 0.3);
}
.bottom_div {
	composes: row_center from "@styl/base_flexbox.module.css";
	width: 100%;
	height: 20%;
	min-height: 20%;
}
.drop_zone {
	margin-top: 20px;
	width: calc(100% - 40px);
	flex: 1;
	font-weight: bold;
	text-align: center;
	font-size: 55px;
	color: var(--secondary-main);
	composes: column_center from "@styl/base_flexbox.module.css";
}
.cropped_image_text {
	composes: column_center from "@styl/base_flexbox.module.css";
	position: relative;
	color: var(--primary-main);
	font-weight: bold;
	font-size: 25px;
	height: 100%;
	overflow: visible;
}
.three_display_pic {
	height: 100px;
	width: 300px;
	composes: column_center from "@styl/base_flexbox.module.css";
	overflow: hidden;
	border-radius: 5px;
	margin-left: 25px;
}
.four_display_pic {
	height: 100px;
	width: 400px;
	composes: column_center from "@styl/base_flexbox.module.css";
	overflow: hidden;
	border-radius: 5px;
	margin-left: 25px;
}
