/** @format */

*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: var(--background-paper);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary-main);
	border-radius: 14px;
}

/* ::-webkit-scrollbar-thumb:hover {
	background-color: var(--tertiary);
} */
