/** @format */

.main_div {
	width: 100vw;
	composes: column from "@styl/base_flexbox.module.css";
}
.header_div {
	width: 100%;
	height: 50px;
	composes: column_center from "@styl/base_flexbox.module.css";
	font-size: 20px;
	position: relative;
}
.bottom_buttons {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 90%;
	composes: row from "@styl/base_flexbox.module.css";
	justify-content: flex-end;
}
.divider_div {
	width: 100%;
	composes: column from "@styl/base_flexbox.module.css";
	height: 2px;
}
.bottom_div {
	background-color: var(--background-default);
	width: 100%;
	position: fixed;
	composes: column from "@styl/base_flexbox.module.css";
	bottom: 0;
	left: 0;
	right: 0;
}
.error_div {
	font-size: 13px;
	color: #ff0000ff;
	margin-top: 5px;
}
.selector_div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.code_div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}
.confirm_input_div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.confirm_input_div_ninety {
	width: 90%;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.phone_number_display {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: var(--primary-main);
	margin-top: 10px;
}
.loading_div {
	width: 100%;
	height: 100%;
	composes: column_center from "@styl/base_flexbox.module.css";
	position: fixed;
	top: 0px;
	z-index: 300;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 5000;
	color: var(--primary-main);
	font-size: 30px;
}
.re_send_code_div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.selector_divider {
	width: 100%;
	height: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
