/** @format */

.main_div {
	width: 100vw;
	position: relative;
	composes: column from "@styl/base_flexbox.module.css";
}
.header_paper {
	top: 0;
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	z-index: 200;
	font-size: 20px;
	background-color: var(--background-paper);
}
.back_name_div {
	width: 100%;
	height: 40px;
	composes: row_center from "@styl/base_flexbox.module.css";
	position: relative;
}
.profile_header_info_div {
	position: relative;
	width: 100%;
	height: 40px;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.submitted_audio_header_div {
	position: relative;
	width: 100%;
	height: 40px;
	composes: row_around from "@styl/base_flexbox.module.css";
}
.time_used_div {
	height: 100%;
	composes: row from "@styl/base_flexbox.module.css";
	margin-left: 10px;
}
.time_used_side {
	height: 100%;
	width: 75px;
	composes: column from "@styl/base_flexbox.module.css";
	font-size: 15px;
}
.time_used_top {
	width: 100%;
	height: 50%;
	composes: column from "@styl/base_flexbox.module.css";
	font-size: 18px;
}
.time_used_bottom {
	width: 100%;
	height: 50%;
	composes: column_center from "@styl/base_flexbox.module.css";
	font-size: 13px;
}
.time_used_slash {
	margin-right: -5px;
	height: 100%;
	width: 20px;
	font-size: 35px;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.header_pic {
	height: 40px;
	width: 40px;
	margin-right: 5px;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.header_number {
	margin-left: 5px;
	composes: column_center from "@styl/base_flexbox.module.css";
	height: 40px;
	width: 40px;
}
.timer_div {
	margin-right: 5px;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 100px;
	height: 40px;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.timer_decoration {
	width: 100%;
	height: 70%;
	border: 1px solid var(--secondary-main);
	border-radius: 15px;
	composes: row_center from "@styl/base_flexbox.module.css";
	color: var(--primary-main);
}
.header_bumper {
	width: 100%;
	height: 45px;
}
.header_performer_bumper {
	width: 100%;
	height: 40px;
}
.exit_modal_div {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	composes: row_center from "@styl/base_flexbox.module.css";
	background-color: rgba(0, 0, 0, 0.5);
}
.exit_modal_paper {
	width: 85%;
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	color: var(--secondary-main);
	padding-top: 40px;
	font-size: 25px;
}
.exit_buttons {
	width: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
	height: 80px;
}
.current_event_bottom_box {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 200;
	composes: row_center from "@styl/base_flexbox.module.css";
	height: 70px;
}
.bottom_nav_paper {
	opacity: 0.7;
	width: 70%;
	height: 55px;
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--background-paper);
}
