/** @format */
.current_paper_styles {
	width: 95%;
	height: 55px;
	composes: row_center from "@styl/base_flexbox.module.css";
	overflow: hidden;
}
.no_events_div {
	width: 100%;
	height: 80vh;
	composes: column_center from "@styl/base_flexbox.module.css";
	font-size: 25px;
	font-weight: bold;
}
.list_container {
	width: 100%;
	composes: column from "@styl/base_flexbox.module.css";
}
