/** @format */

.main_div {
	width: 100%;
	composes: column from "@styl/base_flexbox.module.css";
	position: relative;
}
.profile_page_banners_text_header {
	width: 100%;
	height: 45px;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.row_div {
	width: 100%;
	height: 40px;
	composes: row_center from "@styl/base_flexbox.module.css";
	font-size: 20px;
	color: var(--primary-main);
}
.four_banner {
	width: 320px;
	height: 80px;
	composes: column_center from "@styl/base_flexbox.module.css";
	border-radius: 5px;
	overflow: hidden;
}
.three_banner {
	width: 240px;
	height: 80px;
	composes: column_center from "@styl/base_flexbox.module.css";
	border-radius: 5px;
	overflow: hidden;
}
.elipse_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.banner_file_name {
	margin-top: 10px;
	background-color: var(--background-paper);
	color: var(--secondary-main);
	padding-left: 10px;
	padding-right: 10px;
	font-size: 22px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 10px;
	max-width: 250px;
}
.banner_row_help {
	width: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
	font-size: 18px;
	font-weight: bold;
	color: var(--primary-main);
}
.selected_banners_end {
	width: 100%;
	height: 100%;
	composes: column from "@styl/base_flexbox.module.css";
	position: relative;
}
.both_selected_dimension_text {
	width: 100%;
	height: 40px;
	composes: row_center from "@styl/base_flexbox.module.css";
	font-size: 25px;
}
.submit_button_div {
	margin-top: 15px;
	width: 100%;
	composes: row_center from "@styl/base_flexbox.module.css";
}
