/** @format */

.main_div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}
.top_div {
	width: 100%;
	height: 85px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.pic_div {
	width: 85px;
	height: 85px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.pic_deco {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border: hidden;
	border-radius: 5px;
}
.top_right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: calc(100% - 85px);
}
.event_name_div {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	font-size: 22px;
	padding-left: 5px;
}
.tagline_div {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 17px;
	text-align: left;
	padding-left: 5px;
}
.dicider_div {
	width: 100%;
	height: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.date_loc_div {
	width: 100%;
	color: var(--primary-main);
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow: hidden;
	padding-left: 5px;
	margin-top: 5px;
}
.elipses_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.promoter_dj_div {
	width: 100vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 5px;
}
.bumper_bottom {
	width: 100%;
	min-height: 50px;
}
