/** @format */

.modal_wrap {
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: var(--background-default);
	composes: column from "@styl/base_flexbox.module.css";
}
.select_from_existing_header {
	z-index: 1000;
	width: 100%;
	height: 40px;
	composes: row_center from "@styl/base_flexbox.module.css";
	position: relative;
	font-size: 20px;
}
.audio_rows_scroll {
	width: 100%;
	height: calc(100%);
	min-height: calc(100%);
	max-height: calc(100%);
	composes: column from "@styl/base_flexbox.module.css";
	overflow-x: hidden;
	overflow-y: scroll;
}
.audio_row_main {
	margin-top: 10px;
	width: calc(100% - 10px);
	height: 102px;
	min-height: 102px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	border-radius: 10px;
	z-index: 550;
}
.audio_top {
	position: relative;
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 300;
}
.audio_bottom {
	width: 100%;
	height: 50%;
	composes: row_center from "@styl/base_flexbox.module.css";
}
.divider_div {
	width: 100%;
	height: 2px;
	composes: column_center from "@styl/base_flexbox.module.css";
}
.audio_name {
	width: calc(100% - 100px);
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	z-index: 300;
	position: relative;
}
.select_button {
	height: 100%;
	width: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 300;
	position: relative;
}

.elipse_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.audio_paper_div {
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-color: var(--background-default);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}
.loader_div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
